body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: lightgray;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 3rem;
    margin-top: 0;
}


header nav ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: underline;
    color: black;
    font-size: 1.5rem;
}

/* MAIN CONTENT */

main {
    background-color: lightgray;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    margin-top: 20px;
}

main article {
    background-color: white;
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    margin-top: 20px;
}

main article h3 {
    font-size: 2rem;
    margin-bottom: 0;
}

main article div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

main article p {
    font-size: 1.5rem;
}

main article img {
    display: block;
    margin: auto;
    width: 40%;
}